.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

/* row data */
/* .ant-table-row  {
  height: 1px !important;
} */

/* row data each cell */
/* .ant-table-row > td  {
  padding: 0 !important;
} */